* {
    margin: 0;
    font-family: 'Antic Slab';
    box-sizing: border-box;
    /*background-image: 'https://i.pinimg.com/originals/61/93/19/619319e00e04d1d9016192b1a9af391f.jpg'; */
}

body {
    padding: 1rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://i.pinimg.com/originals/61/93/19/619319e00e04d1d9016192b1a9af391f.jpg');
}

header {
    padding: 0.5rem;
    width: 100%;
    color: black;
    background-color: #f6e1ca;
    outline: 4px inset #000;
}

h2{
    font-size: 40px;
}


h3{
    font-size: 30px;
}


.leftHalf {
    margin-top: 100px;
    margin-left: 100px;
    border: solid 1px;
    float: left;
    outline: 4px inset #000;
    padding: 60px;
    background-color: #f6e1ca;
}

.rightHalf {
    margin-top: 100px;
    margin-right: 100px;
    border: solid 1px;
    float: right;
    outline: 4px inset #000;
    padding: 60px;
    background-color: #f6e1ca;
}

button {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 85px;
    height:30px;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px solid black;
    font-size: 18px;
    text-align: center;
    background-color: #AFD487;
    color: black;
    }

#meal-recipe-images img {
    flex: 0 1 auto;
    height: 150px;
    margin: 1px;
    cursor: pointer;
    outline: 4px inset #000;
}

/* .detail-image img {
    padding: 5px;
    width: 150px;
} */

p {
    font-size: 20px;
}

#favorite-button {
    width: 25px;
    height:25px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #AFD487;
}